
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        @* name=abc *@
        <form name="userInfo" method="post" enctype="multipart/form-data" action="~/Api/Register">
            <div class="form-group">
                <label for="InputName">姓名</label>
                <input type="text" class="form-control" id="InputName" name="Name"> @*name屬性要跟class屬性以及資料庫欄位一樣*@
                <small id="nameHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="InputEmail">電子郵件</label>
                <input type="email" class="form-control" id="InputEmail" name="Email">
            </div>
            <div class="form-group">
                <label for="InputAge">年齡</label>
                <input type="number" class="form-control" id="InputAge" name="Age">
            </div>
            <div class="form-group">
                <label for="InputFile">選擇檔案</label>
                <input type="file" class="form-control-file" id="InputFile" name="File1">
            </div>
            <button type="submit" id="buttonSubmit" class="btn btn-primary">送出</button>
        </form>
        <div class="alert alert-primary" role="alert" id="div1"></div>

    </div>
    <div class="col-3"></div>
</div>

@section Scripts{
    <script>
        const btn = document.querySelector("#buttonSubmit")
        const divMessage = document.querySelector("#div1")
        const txtName = document.querySelector("#InputName")
        const alert = document.querySelector("#nameHelp")
        const xhr = new XMLHttpRequest()

        btn.addEventListener("click", event => {
            event.preventDefault() //將submit預設行為停止 (按下submit按鈕不會送出)

            const formData = new FormData(document.userInfo); //將userInfo表單中的資料放到formData變數中
            
            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                divMessage.textContent = data
            })

            xhr.open("POST", document.userInfo.action) //"/Api/Register"
            xhr.send(formData)
        })

        txtName.addEventListener("blur", ()=>{
            xhr.addEventListener("load", ()=>{
                const data = xhr.responseText
                alert.textContent = data
            })
            const url = "@Url.Content("~/Api/checkedData")"
            const params = `?Name=${txtName.value}`
            xhr.open("Get", url + params);
            xhr.send();
        })
    </script>
}